@use '../../../../styles/variables' as *;
section{
    @include dpf-col();
    margin-top: 120px;
    >.headerProjektComponent {
        @include dpf-col();
        gap: 20px;
        >span{
        font-family: Overpass;
        font-size: 22px;
        font-weight: 400;
        max-width: 500px;
        text-align: center;
        }
    }
}

img{
    width: 820px;
    height: 460px;
    border: 3px solid black;
}

.projectsContainer{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.projectsNumber{
    @include dpf ();
    >span{
        font-size: 48px;
        font-family: Syne-Bold;
        font-weight: 700;
    }

}

.containerRight{
    @include dpf-col($jc: flex-start, $ai: flex-end);

}
.projectsInfo{
    width: 700px;
    >.projectsInfoText{
        @include dpf-col($ai: flex-start);
        padding: 48px 0px;
        max-width: 540px;
        gap: 16px;
        >h3{
            font-size: 3rem;
            font-family: Syne-ExtraBold;
            text-wrap-mode: nowrap;
        }
        >span{
           font-family: Overpass;
           font-size: 1.8rem;
           color: var(--highlight2-color);
           font-weight: 600;
        }
        >p {
            font-family: Overpass;
           font-size: 1.25rem;
        }      
    }
}

.rowReverse{
    flex-direction: row-reverse;
    >.containerRight{
        align-items: flex-start;
    }
}