@use '../../../../styles/variables' as *;
section{
    @include dpf ();
    flex-direction: column;
    margin-top: 120px;
    >.headerProjektComponent {
         @include dpf ();
        flex-direction: column;
        gap: 20px;
        >span{
        font-family: Overpass;
        font-size: 22px;
        font-weight: 400;
        max-width: 500px;
        text-align: center;
        }
    }
}

h2 {
    font-size: 4.875rem;
    font-family: Syne-ExtraBold;

    &:hover {
        color: var(--highlight2-color);
        cursor: default;
    }
}

img{
    width: 820px;
    height: 460px;
    border: 3px solid black;
}

.projectsContainer{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.projectsNumber{
    @include dpf ();
    >span{
        font-size: 48px;
        font-family: Syne-Bold;
        font-weight: 700;
    }

}

.containerRight{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;

}
.projectsInfo{
    width: 700px;
    >.projectsInfoText{
        @include dpf ($ai: flex-start);
        flex-direction: column;
        padding: 48px 0px;
        max-width: 540px;
        gap: 16px;
        >h3{
            font-size: 4rem;
            font-family: Syne-ExtraBold;
        }
        >span{
           font-family: Overpass;
           font-size: 2rem;
           color: var(--highlight2-color);
           font-weight: 600;
        }
        >p {
            font-family: Overpass;
           font-size: 1.25rem;
        }      
    }
}

button{
    height: 68px;
    width: 220px;
    border: 4px solid black;
    cursor: pointer;
    background-color: var(--bg-color);
    transition: width 0.2s ease, font-weight 0.2s ease;
    font-size: 18px;
        &:hover{
            font-weight: bolder;
            width: 260px;

        }   
}

.rowReverse{
    flex-direction: row-reverse;
    >.containerRight{
        align-items: flex-start;
    }
}