@use '../../../../styles/variables' as *;
section{
    @include dpf-col();
    margin-top: 120px;
    >.headerProjektComponent {
        @include dpf-col();
        gap: 20px;
        >span{
        font-family: Overpass;
        font-size: 22px;
        font-weight: 400;
        max-width: 500px;
        text-align: center;
        }
    }
}

.projectsContainer{
    margin-top: 100px;
    @include dpf-col();
    width: 100%;
    gap: 16px;
}

.projectsNumber{
    width: 100%;
    @include dpf($jc: flex-end);
    >span{
        font-size: 48px;
        font-family: Syne-Bold;
        font-weight: 700;
    }
}

.projectsContent{
    @include dpf($jc: space-between, $ai: center);
    width: 100%;
    gap: 16px;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

img{
    width: clamp(37.5rem, 45vw, 51.25rem);
    height: clamp(23.75rem, 29vw, 28.75rem);
    border: 3px solid black;
}

.containerRight{
    @include dpf($ai: center, $jc: flex-end);
}

.projectsInfo{
    width: 550px;
    max-width: 100%;
    
    >.projectsInfoText{
        @include dpf-col($ai: flex-start);
        padding:24px;
        max-width: 550px;
        gap: 16px;
        >h3{
            font-size: 3rem;
            font-family: Syne-ExtraBold;
        }
        >span{
           font-family: Overpass;
           font-size: 1.8rem;
           color: var(--highlight2-color);
           font-weight: 600;
        }
        >p {
            font-family: Overpass;
           font-size: 1.25rem;
        }      
    }
}

.rowReverse{
    .projectsNumber{
        @include dpf($jc: flex-start);
    }
    
    .projectsContent{
        flex-direction: row-reverse;
    }
    
    .imageContainer{
        justify-content: flex-end;
    }
    
    .containerRight{
        justify-content: flex-start;
    }
}

@media (max-width: 1250px) {
    .projectsContent{
        @include dpf-col();
    }

    .imageContainer {
        width: 100%;
        justify-content: center;
        
        img {
            width: 100%;
            height: auto;
        }
    }

    .containerRight{
        width: 100%;
        justify-content: flex-start;
        min-height: 400px;
    }

    .projectsInfo {
        width: 100%;
    }

    .rowReverse{
        .projectsContent{
            flex-direction: column;
        }
        
        .imageContainer{
            justify-content: center;
        }
        
        .containerRight{
            justify-content: flex-start;
        }
    }
}