@use '../../../styles/variables' as *;
section{
@include dpf ($ai: flex-start, $g: 64px);
width: 100%;
    padding:120px 200px;
     flex-direction: column;
}

.privacy_content{
    display: flex;
        flex-direction: column;
        gap: 48px;
    >div{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.privacy_subsection_DataCollection{
        @include dpf-col ($ai: flex-start, $g: 16px);
    }

ul{
    padding: 16px 32px;
}
.privacy_header{
    padding: 24px 0px;
    >h2{
        font-size: clamp(1.5rem, 7vw, 4.875rem);
    }
    }
h3{
    font-size: clamp(1.2rem, 5vw, 1.5rem);
    color: var(--highlight2-color);
}

h4{
font-size: clamp(1.1rem, 5vw, 1.25rem);
}

h5{
    font-size: 1rem;
}

@media (max-width: 1250px) {
    section{
    padding:120px 24px;
    }

}