@use '../../../styles/variables' as *;
section{
@include dpf ($ai: flex-start, $g: 64px);
width: 100%;
    padding:120px 200px;
     flex-direction: column;
}

.privacy_content{
    display: flex;
        flex-direction: column;
        gap: 48px;
    >div{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

ul{
    padding: 16px 32px;
}

h3{font-size: 1.5rem;
        color: var(--highlight2-color);
}

h4{
font-size: 1.25rem;
}

h5{
    font-size: 1rem;
}