@use '../../../../styles/variables' as *;

section{
    margin-top: 120px;
     @include dpf ();
     flex-direction: column;
     >span{font-family: Overpass;
           font-size: 1.375rem;
           font-weight: 400;
           padding: 40px 0px;
           max-width: 600px;
           text-align: center;
        }
}

h2 {
    font-size: 4.875rem;
    font-family: Syne-ExtraBold;

    &:hover {
        color: var(--highlight2-color);
        cursor: default;
    }
}

.refContainer{
     @include dpf ($jc:space-between);
     width: 100%;
     >div{
        @include dpf ($g:16px);
        padding: 16px;
        flex-direction: column;
        max-width: 480px;
        border: 4px black solid;
        text-align: center;
        >.commentHead{
            @include dpf ($g:8px);
            flex-direction: column;
            >h4{
                font-family: Syne-bold;
                font-size: 1.375rem;
            }
            >span{
                font-size: 1rem;
            }
        }
    >p{font-size: 1.2rem;
        font-weight: 400;
        height: 220px;
    }
     }


}