@use '../../../../styles/variables' as *;

section{
    margin-top: 120px;
        @include dpf-col (); 
     >span{font-family: Overpass;
           font-size: 1.375rem;
           font-weight: 400;
           padding: 40px 0px;
           max-width: 600px;
           text-align: center;
        }
}

.refContainer{
     @include dpf ($jc:space-between);
     width: 100%;
     >div{
        @include dpf-col ($g: 16px); 
        padding: 16px;

        max-width: 480px;
        border: 4px black solid;
        text-align: center;
        >.commentHead{
            @include dpf-col ($g: 8px); 
            >h4{
                font-family: Syne-bold;
                font-size: 1.375rem;
            }
            >span{
                font-size: 1rem;
            }
        }
    >p{font-size: 1.2rem;
        font-weight: 400;
        height: 220px;
    }
     }


}