@use '../../../../styles/variables' as *;

section{
    margin-top: 120px;
     @include dpf ();
     flex-direction: column;
     >span{font-family: Overpass;
           font-size: 1.375rem;
           font-weight: 400;
           padding: 40px 0px;
           max-width: 600px;
           text-align: center;
        }
}

h2 {
    font-size: 4.875rem;
    font-family: Syne-ExtraBold;

    &:hover {
        color: var(--highlight2-color);
        cursor: default;
    }
}

.refContainer{
     @include dpf ($g:16px);
     >div{
        @include dpf ($g:16px);
        padding: 24px;
        flex-direction: column;
        max-width: 600px;
        border: 2px black solid;
        text-align: center;


     }


}