@use '../../../../../styles/variables' as *;

section{
    @include dpf ();
    width: 100%;
    >.content {
        @include dpf ($jc: space-between);
        padding: 24px 8px;
        >.containerLeft{
            @include dpf-col ($g: 16px); 
            >span{
                color: #FFFCF3;
                font-size: 1.375rem;
                font-weight: 400;
            }
        }
        >.containerRight{
          @include dpf-col ($g: 16px); 
         >.contentRight{
            @include dpf ($g:42px);
            }    
        }
    };
}

.legalnotice{
    color: #FFFCF3;
    text-decoration: none;
    font-size: 1.25rem;
    &:hover{
        color: var(--highlight2-color);
    }
}

.logo{
  height: 48px;
}
.icon{
    height: 56px;
}

@-webkit-keyframes bob-on-hover {
    0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    }
    50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    }
    100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    }
    }
@keyframes bob-on-hover {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes bob-on-hover-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bob-on-hover-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.bob-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.bob-on-hover:hover {
  -webkit-animation-name: bob-on-hover-float, bob-on-hover;
  animation-name: bob-on-hover-float, bob-on-hover;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}



