<section>
    <div class="content content-beg">
        <div class="containerLeft">
            <img src="" alt="">
            <span>© Maik Groth 2026</span>
        </div>
        <div class="containerRight">
            <a href="https://github.com/croser93/portfolio"><img src="assets/icon/git.svg" alt="gitIcon"></a>
            <a href="mailto:contact@maik-groth.com"><img src="assets/icon/mail.svg" alt="mailIcon"></a>
            <a href="www.linkedin.com/in/maik-groth"><img src="assets/icon/indeed.svg" alt="indeedIcon"></a>
        </div>
    </div>
</section>
