@use '../../../../../styles/variables' as *;

section {
    background-color: black;
    @include dpf ();
    width: 100%;

    >.content {
        @include dpf ($jc: space-between);
        padding: 24px 24px;

        >.containerLeft {
            @include dpf-col ($g: 16px);

            >span {
                color: #FFFCF3;
                font-size: 1.375rem;
                font-weight: 400;
            }
        }

        >.containerRight {
            @include dpf-col ($g: 16px);

            >.contentRight {
                @include dpf ($g: 42px);
            }
        }
    }

    ;
}

.legalnotice {
    color: #FFFCF3;
    text-decoration: none;
    font-size: 1.25rem;

    &:hover {
        color: var(--highlight2-color);
    }
}

.logo {
    height: 48px;
}

.icon {
    height: 56px;
}

.footerPolygon {
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
}


@media (max-width: 600px) {
    section {
    padding: 24px 0px;
        .content {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;

            .containerLeft,
            .containerRight {
                display: contents;
            }


            .contentRight {
                order: 1;
            }


            a:has(.logo) {
                order: 2;
            }


            span {
                order: 3;
            }

            div:last-child {
                order: 4;
            }
        }
    }
}