<section>
    <div class="content content-beg">
        <div class="containerLeft">
            <img class="logo" src="assets/img/projects/logo_light.svg" alt="mgLogo">
            <span>© Maik Groth 2026</span>
        </div>
        <div class="containerRight">
            <div class="contentRight">
                <a class="link bob-on-hover" href="https://github.com/croser93/portfolio"><img class="icon" src="assets/icon/git.svg" alt="gitIcon"></a>
                <a class="link bob-on-hover" href="mailto:contact@maik-groth.com"><img class="icon" src="assets/icon/mail.svg" alt="mailIcon"></a>
                <a class="link bob-on-hover" href="www.linkedin.com/in/maik-groth"><img class="icon" src="assets/icon/indeed.svg" alt="indeedIcon"></a>
            </div>
            <div>
                <a class="legalnotice" href="#">LegalNotice</a>
            </div>
        </div>
    </div>
</section>
