<section>
    <div class="logo">IMG</div>
    <nav>
        <div class="languageBtn">
            <button><span>EN</span></button>
            <button><span>DE</span></button>
        </div>
        <label for="check" class="menuButton">
            <input id="check" type="checkbox">
            <span class="top"></span>
            <span class="mid"></span>
            <span class="bot"></span>
        </label>
        
            <div class="dnone">
                <a href="#">About me</a>
                <a href="#">My Skills</a>
            <a href="#">MY Projects</a>
           </div>
        
    </nav>

</section>