<section>
    <div>
        <img class="logo" src="assets/img/projects/logo_dark.svg" alt="mgLogo">
    </div>
    <nav>
        <div class="languageBtn">
            <button (click)="toggleLanguage('en')" [class.active]="activeLanguage === 'en'"><span>EN</span></button>
            <button (click)="toggleLanguage('de')" [class.active]="activeLanguage === 'de'"><span>DE</span></button>
        </div>
        <label class="menuButton">
            <input type="checkbox" [checked]="isMenuOpen" (change)="toggleMenuBar()">
            <span class="top"></span>
            <span class="mid"></span>
            <span class="bot"></span>
        </label> 
    </nav>
    
</section>

<div id="menuBar" [class.dnone]="!isMenuOpen">
    <div class="menu content-beg">
        <a href="#">{{ 'HEADER.NAV.ABOUT' | translate }}</a>
        <a href="#">{{ 'HEADER.NAV.SKILLS' | translate }}</a>
        <a href="#">{{ 'HEADER.NAV.PROJECTS' | translate }}</a>
    </div>
</div>