@use '../../../../../styles/variables' as *;

.header-wrapper {
  position: fixed;
  height: 64px;
  top: 0;
  left: 0;
  width: 100%;           
  z-index: 3;        
  background-color: var(--bg-color);
  border-bottom: 4px solid var(--highlight2-color-test); 
  @include dpf (); 
  >.header-content {
    max-width: 1680px;
    margin: 0 auto;  
    width: 100%;
    padding: 0 40px;  
    @include dpf ($jc: space-between); 
  }
}

nav {
  @include dpf ($jc: flex-end, $g: 32px);
}

#menuBar {
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  height: calc(100vh - 64px);
  background-color: var(--bg-color);
  z-index: 2;
  
  &.dnone { display: none; }
}

.burgerMenu{
    width: 80px;
    height: 40px;
}

.logo{
  height: 48px;
}

.languageBtn{
    @include dpf ($g: 16px);
}

button{
    border: none;
    height: 40px;
    width: 56px;
    cursor: pointer;
    background-color: transparent;
    >span{
        font-size: 16px;
        font-family: Syne-Bold;
    }
        &:hover{
            background-color: var(--highlight2-color-test);
        }
        &.active{
            border: 3px solid var(--highlight2-color);
        }
}

.menu{
    position: absolute;
    margin-top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    @include dpf ();
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-color) ;
    gap: 32px;
    height: 600px;
    transition: max-height 1s ease;
    >a {
  position: relative;
  text-decoration: none;
  color: black;
  font-family: Syne-Bold;
  font-size: 6rem;
  font-weight: 700;
        &:hover{
            &::before {
                content: '';
                position: absolute;
                left: -24px;
                top: 32px;
                width: 4px;
                height: 0;
                background-color: black;
                animation: drawVertical 0.3s forwards;
            }
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 6px;
                width: 0;           
                background-color: black;
                animation: drawHorizontal 0.8s 0.2s forwards;
            }
        }


    }}
    @keyframes drawVertical {
      0% {
        height: 0;
        
      }
      100% {
        height: 70%;
      }
    }
    
    @keyframes drawHorizontal {
      0% {
        width: 0;
        left: -24px;
      }
      100% {
        left: -24px;
        width: 110%;
      }
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  color: #090909;
  width: 3.5em;
  height: 3.5em;
  border-radius: 0.5em;
  background: transparent;
  transition: all .3s;
  cursor: pointer;
}

input {
  display: none;
  visibility: hidden;
}

.menuButton span {
  width: 30px;
  height: 4px;
  background: #131313;
  border-radius: 100px;
  transition: 0.3s ease;
}

input[type]:checked ~ span.top {
  transform: translateY(290%)rotate(45deg);
  width: 40px;
}

input[type]:checked ~ span.bot {
  transform: translateY(-270%) rotate(-45deg);
  width: 40px;
}

input[type]:checked ~ span.mid {
  transform: translateX(-20px);
  opacity: 0;
}
