@use '../../../../../styles/variables' as *;


section{
     @include dpf ($jc: space-between,  $g: 32px);
     height: 100px;
     width: 100%;
}

nav{
    @include dpf ($g: 32px);
}

.burgerMenu{
    width: 80px;
    height: 40px;

}

.languageBtn{
    @include dpf ($g: 16px);
}

button{
    border: 3px solid var(--highlight2-color);
    height: 40px;
    width: 56px;
    cursor: pointer;
    background-color: transparent;
    >span{
        font-size: 16px;
        font-family: Syne-Bold;
    }

}



.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  color: #090909;
  width: 3.5em;
  height: 3.5em;
  border-radius: 0.5em;
  background: transparent;
  transition: all .3s;
  cursor: pointer;
}

input {
  display: none;
  visibility: hidden;
}

.menuButton span {
  width: 30px;
  height: 4px;
  background: #131313;
  border-radius: 100px;
  transition: 0.3s ease;
}

input[type]:checked ~ span.top {
  transform: translateY(290%)rotate(45deg);
  width: 40px;
}

input[type]:checked ~ span.bot {
  transform: translateY(-270%) rotate(-45deg);
  width: 40px;
}

input[type]:checked ~ span.mid {
  transform: translateX(-20px);
  opacity: 0;
}
