:root {
            --highlight1-color: #00BC8f;
            --highlight2-color: #4B47FF;
            --highlight2-color-test: rgba(74, 71, 255, 0.4);
            --highlight3-color: #FF9900;
            --bg-color: #FFFCF3;
            --primary-color: #000000;
        }

@mixin dpf ($jc: center, $ai: center,  $g: 0){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

@mixin dpf-col($jc: center, $ai: center,  $g: 0){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
    flex-direction: column;
}