:root {
            --highlight1-color: #00BC8f;
            --highlight2-color: #4B47FF;
            --highlight3-color: #FF9900;
            --bg-color: #FFFCF3;
            --primary-color: #000000;
        }