body{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#contact{
    scroll-margin-top: -180px;
}

#aboutMe{
    scroll-margin-top: 120px;
}

#skills{
    scroll-margin-top: 36px;
}