@use '../../../../styles/variables' as *;
section{
    @include dpf ($jc: space-between, $ai: flex-start);
    height: 720px;
}
button,


.containerLeft{
    @include dpf-col($g: 48px);
     max-width: 670px;
     padding:24px;
     
    >.infoItem{
       @include dpf-col($ai:flex-start, $g: 16px);;
       text-align: center;
       width: 100%;
        >div{
            @include dpf ($g: 8px);
            text-align: center;

        }
    }
}

.imgContainer{
    > img {
        height: clamp(30rem, 43vw, 35rem)
    }
}

@media (max-width: 1250px) {
    section {
        @include dpf-col();
        height: 100vh;
    }

    .containerLeft {
        max-width: 100%;
        align-items: center;
    }

    .imgContainer{
    > img {
        height: clamp(19rem, 55vw, 35rem)
    }
}
}