@use '../../../../styles/variables' as *;
section{
    @include dpf ($jc: space-between, $ai: flex-start);
    height: 720px;
}
button,
span{
        font-size: 22px;
        font-family: Overpass;
}

.containerLeft{
    // border: solid black 1px;
     @include dpf ($g: 48px);
     flex-direction: column;
     max-width: 670px;
     padding:24px;
     
    >.infoItem{
       @include dpf ($ai:flex-start, $g: 16px); 
       flex-direction: column;
       text-align: center;
       width: 100%;
        >div{
            @include dpf ($g: 8px);
            text-align: center;

        }
    }
}

button{
    min-width: 220px;
    padding: 12px 8px;
    border: 4px solid black;
    cursor: pointer;
    background-color: var(--bg-color);
    transition: width 0.2s ease, font-weight 0.2s ease;
    text-wrap-mode: nowrap;
        &:hover{
            font-weight: bolder;
            width: 260px;;

        }   
}

h2{
    font-size: 4.875rem;
    font-family: Syne-ExtraBold;
    text-wrap-mode: nowrap;
        &:hover{
            color: var(--highlight2-color);
            cursor: default;
        }
}

.imgContainer{
    position: relative;
    > img {
        position: relative;
        top: 150px;
        left: 0px;
        height: 560px;
        width: 560px;
    }
}