@use '../../../../styles/variables' as *;
section{
    @include dpf ($jc: space-between, $ai: flex-start);
    height: 720px;
}
button,
span{
        font-size: 22px;
        font-family: Overpass;
}

.containerLeft{
    @include dpf-col($g: 48px);
     max-width: 670px;
     padding:24px;
     
    >.infoItem{
       @include dpf-col($ai:flex-start, $g: 16px);;
       text-align: center;
       width: 100%;
        >div{
            @include dpf ($g: 8px);
            text-align: center;

        }
    }
}

.imgContainer{
    position: relative;
    > img {
        position: relative;
        top: 150px;
        left: 0px;
        height: 560px;
        width: 560px;
    }
}