@use '../../../styles/variables' as *;
section{
    @include dpf-col($ai: flex-start, $g: 64px);
    width: 100%;
    padding:120px 200px;
}

span{
    font-size: 1rem;

}

ul{
    @include dpf-col($ai:flex-start);
    width: 100%;
    padding: 16px 32px;
        >li{
        font-size: 1.15rem;
    }
    
}

.content{
    display: flex;
        flex-direction: column;
        gap: 24px;
    >div{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

}

a{
   color: var(--highlight2-color); 
   font-size: 1rem;
   font-weight: 500; 
   text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.indemnity{
    display: flex;
    flex-direction: column;
    gap: 24px; 
}

h4{
font-size: 1.25rem;
}