section{
    height: calc(100vh - 100px);
    position: relative;
    display: flex;
    justify-content: center;
    >.hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1240px;
        height: 560px;
    }
}

h1 {
    font-size: 8rem;
    font-family: "Syne-ExtraBold";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 104px;

}
h2{
    font-size: 48px;
    font-family: "Overpass";
    color: var(--highlight2-color);
    font-weight: bolder;
    text-wrap: nowrap;
    
}

.name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;
    gap: 16px;
}

.separator{
    height: 4px;
    width: 80%;
    background-color: black;
}

.email-sidebar {
    position: absolute;
    left: 120px;
    bottom: 32px; 
    transform: rotate(-90deg);
    transform-origin: left bottom;
    >a {
        font-size: 22px;
        font-family: "Overpass";
        text-decoration: none;
        color: black;
        white-space: nowrap; 
    }
}
