@use '../../../../styles/variables' as *;
section{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    >.hero{
    @include dpf-col();
        width: 1240px;
    }
}

h1 {
    font-size: 8rem;
    font-family: "Syne-ExtraBold";
    @include dpf-col();
    line-height: 104px;

}
h4{
    font-size: 48px;
    font-family: "Overpass";
    color: var(--highlight2-color);
    font-weight: bolder;
    text-wrap: nowrap;  
}

.name{
    @include dpf();
    max-width: 1100px;
    width: 100%;
    gap: 16px;
}

.separator{
    height: 4px;
    width: 80%;
    background-color: black;
}

.email-sidebar {
    position: absolute;
    left: 0px;
    bottom: 32px; 
    transform: rotate(-90deg);
    transform-origin: left bottom;
    >a {
        font-size: 22px;
        font-family: "Overpass";
        text-decoration: none;
        color: black;
        white-space: nowrap; 
    }
}
