@use '../../../../styles/variables' as *;
section{
    margin-top: 120px;
    height: 100vh;
    background-color: black;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    padding-top: 120px;
    >div{
        display: flex;
        flex-direction: column;


    }
}

.contactHeader{
    @include dpf ($jc: flex-start);
    >h2{
        padding:48px 128px;
        color: var(--bg-color);
        font-size: 4.875rem;
        font-family: Syne-ExtraBold;

    }
}

.formContainer{

  @include dpf ($g:16px);
  flex-direction: column;
  color: white;
  >h4{
    font-size: 2rem;
    color: var(--highlight2-color);
  }
  >span{
    font-size: 1.375rem;
  }
  >form{
    @include dpf ($jc:space-around ,$g:16px);
    flex-direction: column;
    height: 480px ;
    width: 620px ;
  }
}


.form-container {
    margin-top: 48px;
    max-width: 600px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    padding: 0px 24px;
    height: 54px;
    font-size: 1rem;
    outline: none;
    font-family: overpass;


    &::placeholder {
        color: #fff;
    }
    &::-webkit-resizer {
        background-image: 
            linear-gradient(135deg, transparent 0%, transparent 45%, #fff 45%, #fff 52%, transparent 52%),
            linear-gradient(135deg, transparent 0%, transparent 60%, #fff 60%, #fff 67%, transparent 67%),
            linear-gradient(135deg, transparent 0%, transparent 75%, #fff 75%, #fff 82%, transparent 82%);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    &:hover{
        border: 4px solid white;
    }
}

textarea {
    resize: vertical;    
    min-height: 120px;


}

.checkbox-container {
     @include dpf ($ai: flex-start);
    gap: 10px;
    cursor: pointer;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    flex-shrink: 0;
    margin-top: 2px;    
}

.checkbox-label {
    font-size: 1rem;
}

.privacy-link {
    color: var(--highlight2-color);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.button-container {
    @include dpf ();
    margin-top: 40px;
}

button {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 15px 60px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background: #fff;
        color: #000;
    }
    &:disabled{
    background-color: grey;
    cursor:not-allowed;
    &:hover{
        color:white
    }
}
}

.errorContainer{
    height: 16px;
    width: 100%;
    margin-bottom: 16px;
    margin-top: 4px;

}
.errorMassage{
    color: red;
    font-size: 1rem;
}