@use '../../../../styles/variables' as *;

section {
    margin-top: 120px;
    min-height: 100vh;
    background-color: black;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
    padding-top: 120px;
    display: flex;
    justify-content: center;
    >div {
        display: flex;
        flex-direction: column;
        padding: 24px;
    }
}

.contactHeader {
    @include dpf ($jc: flex-start);
    >h2{
        color: var(--bg-color);
        &:hover{
            color: var(--highlight2-color);
        }
    }
}

.formTextContainer {
    @include dpf-col($g: 16px);
    color: white;
    padding: 48px 0px;

    >h4 {
        font-size: clamp(1.5rem, 6vw, 2rem);
        color: var(--highlight2-color);
        text-align: center;
    }

    >span {
        font-size: 1.375rem;
        font-size: clamp(1rem, 6vw, 1.375rem);
        text-align: center;
    }

}

.form-container {
    @include dpf ();
    width: 100%;

    >form {
        @include dpf-col();
        width: 100%;
        >.formInput {
            width: clamp(18.75rem, 80vw, 38.75rem);
            color: white;
        }
    }
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    padding: 0px 24px;
    height: 54px;
    font-size: 1rem;
    outline: none;
    font-family: overpass;
    cursor: pointer;

    &:focus {
        border: 4px solid white;
    }

    &:not(:placeholder-shown):not(:focus):valid {
        border: 2px solid rgb(17, 243, 9);
    }

    &:not(:placeholder-shown):not(:focus):invalid {
        border: 2px solid rgb(245, 9, 1);
    }

    &::placeholder {
        color: #fff;
    }

    &::-webkit-resizer {
        background-image:
            linear-gradient(135deg, transparent 0%, transparent 45%, #fff 45%, #fff 52%, transparent 52%),
            linear-gradient(135deg, transparent 0%, transparent 60%, #fff 60%, #fff 67%, transparent 67%),
            linear-gradient(135deg, transparent 0%, transparent 75%, #fff 75%, #fff 82%, transparent 82%);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    &:hover {
        border: 4px solid white;
    }
}

textarea {
    resize: vertical;
    min-height: 120px;
    max-height: 220px;
}

.checkbox-container {
    @include dpf ($ai: flex-start);
    gap: 10px;
    cursor: pointer;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.checkbox-label {
    font-size: 1rem;
}

.privacy-link {
    color: var(--highlight2-color);
    text-decoration: none;
    font-size: 16px;

    &:hover {
        text-decoration: underline;
    }
}

.button-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
    
    button {
        grid-column: 2;
        justify-self: center;
    }

    >a {
        
        grid-column: 3;
        justify-self: end;
        img {
            display: block;
            cursor: pointer;
            transition: transform 0.3s ease;
            transform-origin: center bottom;
            &:hover {
                transform: scaleY(1.3);
            }
        }
    }
}

button {
    background: transparent;
    color: #fff;
    border: 4px solid #fff;
    padding: 15px 60px;
    font-size: 1rem;
    font-family: overpass;
    font-weight: 700;
    transition: width 0.3s ease, font-weight 0.3s ease-in-out;
    width: 240px;
    text-wrap-mode: nowrap;
    cursor: pointer;

    &:hover {
        background: rgba(74, 71, 255, 0.4);
        color: #fff;
        width: 280px
    }
    &:disabled {
        background-color: black;
        border: 4px solid gray;
        color: grey;
        cursor: not-allowed;
        &:hover {
            color: gray;
            width: 240px;
        }
    }
}

.inputContainer {
    @include dpf ();
}

.errorContainer {
    height: 16px;
    width: 100%;
    margin-bottom: 16px;
    margin-top: 4px;
}

.errorMassage {
    color: red;
    font-size: 1rem;
}

textarea.ng-valid.ng-touched,
input.ng-valid.ng-touched {
    background-image: url("/assets/icon/check.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
}

textarea.ng-invalid.ng-touched,
input.ng-invalid.ng-touched {
    background-image: url("/assets/icon/req.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
}

@media (max-width: 1250px) {
    section{
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
    }
}

@media (max-width: 850px) {
    .homeArrow{
        display: none;
    }
    .errorContainer {
    margin-top: 8px;
}
.formInput{
    height: 500px;
}

}