 @use 'styles/variables';

 @font-face {
   font-family: "Overpass";
   src: url("../../portfolio/public/assets/fonts/overpass/Overpass-VariableFont_wght.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
 }

 @font-face {
   font-family: "Syne-ExtraBold";
   src: url("../../portfolio/public/assets/fonts/syne/Syne-ExtraBold.ttf") format("truetype");
   font-style: normal;
   font-display: swap;
 }

 @font-face {
   font-family: "Syne-Bold";
   src: url("../../portfolio/public/assets/fonts/syne/Syne-Bold.ttf") format("truetype");
   font-style: normal;
   font-display: swap;
 }

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   font-family: "Overpass", sans-serif;
   background-color: var(--bg-color);
 }

 .border{
    margin: 0px 100px;
 }

 .content-beg{
  max-width: 1680px;
  width: 100%;
 }

 .width100 {
  width: 100%;
 }

 .dnone{
    display: none;
 }

