@use '../../../../styles/variables' as *;
section {
    margin-top: 120px;
    border: 3px solid black;
    position: relative; 
    @include dpf ();
    flex-direction: column;
}

.skills{
    width: 100%;
    padding: 100px 0px;
    @include dpf ();
    flex-direction: column;
    gap: 60px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 78px 20px; 
    width: 100%;
    >.skill-item {
        @include dpf ();
        >img{
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.4);
                cursor: pointer;
            }
        }
    }
}

.continuedLearing{
     @include dpf ($g:16px);
}

.h2Container {
    position: absolute;
    top: -54px;
    background-color: var(--bg-color); 
    padding: 0 24px;    
}

@media (max-width: 1250px) {
.skill-item {
   >img{ height: clamp(60px, 18vw, 80px); 
    }
     &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }

}
}
.continuedLearing{
    padding: 0px 16px; 
    >img{height: clamp(60px, 14vw, 80px);
    }
}

@media (max-width: 900px) {
    .skills{
    padding: 64px 0px;
    gap: 48px;
}

}

@media (max-width: 560px) {
.skills-container  {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 32px 14px;
        padding: 0px 24px;
  }
}